// ======================
// === Sass Variables ===
// ======================

// === Colors ===
$lightModeText: hsl(200, 15%, 8%);
$lightModeNavBackground: hsl(0, 0%, 100%);
$lightModeElementsBackground: hsl(0, 0%, 100%);
$lightModeElementsInfos: hsl(0, 1%, 85%);
$lightModeBackground: hsl(0, 0%, 98%);
$lightModeInputBackground: hsl(0, 0%, 100%);
$lightModeInputIcon: hsl(0, 0%, 52%);
$lightModeInputText: hsl(0, 0%, 52%);
$lightModeInputTextPlaceholder: hsl(0, 3%, 75%);

$darkModeText: hsl(0, 0%, 100%);
$darkModeNavBackground: hsl(209, 23%, 22%);
$darkModeElementsBackground: hsl(209, 23%, 22%);
$darkModeBackground: hsl(207, 26%, 17%);
$darkModeInputBackground: hsl(209, 23%, 22%);
$darkModeInputText: hsl(0, 0%, 100%);


// === Font ===
$fontFamily: 'Nunito Sans', sans-serif;

$lightWeight: 300;
$semiboldWeight: 600;
$extraBoldWeight: 800;

$headerTitle: 1rem;
$headerTitleDesktop: 1.2rem;

$homepageItemsMain: 0.875rem;
$homepageElementsTitle: 1.1rem;

$detailPageMain: 1rem;
$detailPageTitle: 1.2rem;

// === Gutters ===
$navGutterMobile: 2rem 1rem;
$navGutterDesktop: 2rem 5rem;
$searchGutterMobile: 1.5rem 1rem;

// === Box Shadows ===
$navBoxShadow: 0 0px 5px 2px rgba(184, 180, 180, 0.733);
$inputBoxShadow: 0 0px 5px 1px rgba(232, 228, 228, 0.394);